# Entorno virtual
venv/
.env
.env.*

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de test y cobertura
coverage/
htmlcov/
.tox/
.pytest_cache/
.cache/

# Configuración de editores
.vscode/
.idea/

# Archivos de log
*.log

# Archivos de base de datos SQLite (si usás local)
*.sqlite3
*.db

# Migraciones (opcional, si usás Alembic)
alembic/versions/*.pyc
alembic/versions/*.pyo

# Distribuciones
dist/
build/
*.egg-info/

# Docker
*.pid
*.sock
docker-compose.override.yml

# Archivos de sistema
.DS_Store
Thumbs.db

# PyInstaller
*.spec

# mypy, pylint
.mypy_cache/
.pylint.d/

# Jupyter (por si usás notebooks para pruebas)
.ipynb_checkpoints/

.uploaded_files/